<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>
  <script src="https://unpkg.com/@adonisjs/websocket-client"></script>
  <script>
    const ws = adonis.Ws('ws://localhost:3333', {
      path: 'adonis-ws'
    })

    const jwtToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjEsImlhdCI6MTYwMzE5ODQyOX0.lfTXNC6x-0sW0PiUpc_ro5-zucLu4NCdjowNotbMqxY"

    ws
    .withJwtToken(jwtToken)
    .connect()
  </script>
</body>
</html>
